.btn {
    font-size:12px;
    text-transform: capitalize;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.headerbar-left  li > h3{
    margin-top:5px;
    height: 8px;
}

.headerbar-right > .header-nav{
    padding:15px;

}
@media (max-width: 768px) {
    .headerbar-right {
        height:70px;
        padding-top: 2px;
    }
    .headerbar-right > .header-nav{
        padding:0px;

    }
}

.page-footer{
   background-color: #2B323A;
    color:#fff;
}

.page-footer .page-footer-left {
    float: left;
    display: inline-block;
}
.page-footer .page-footer-right {
    text-align: right;
    display: block;
}

.card-detail{
    padding: 0px 5px 15px 25px;
}

.pie-chart{
    height: 120px;
    width:150px;
}


.legendColorBox > div > div {
    border-radius: 0;
}



.pie-legend-container {
    display: table;

}
.pie-legend {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.small-bar-chart-body{
    padding:15px;
}

.breadcrumb > .active {

    /* font-weight: 400; */
    font-size: 12px;
}

.headerbar-left a {
     float: none;
}
.breadcrumb > li  > a{
    font-weight: bold;


}
.breadcrumb > li + li:before {

    content: ">";

}
/*.headerbar-title{*/
    /*float:left;*/
/*}*/
/*.headerbar-title h3{*/
    /*margin-top:12px;*/
/*}*/

/*.headerbar-filter-option{*/
    /*float:right;*/
    /*padding: 15px 0px 15px 0px;*/
/*}*/